/** {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}*/

body {
    /*-webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
	background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;*/
    /*position:absolute;*/
    margin: 0;
    height: 100%;
    /*FOR MAINPAGE, NOTIF, PROF*/
    background-image: url(/www/images/banner.png);
    background-size: contain;
    background-position: center;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
    /*background-color: #36498f;*/
}


.mainpart {
    background-image: url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-width:400px) {

  
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;
        margin:-90px 0px 0px -198px;
    }
}

label[class=names] {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 5px;
    overflow: visible;
    padding: 5px;
    text-align: center;
    font-family: 'Signika', sans-serif;
}

label[class=capt] {
    font-size: 14px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
    font-family: 'Signika', sans-serif;
}

label[class=hsix] {
    color: white;
    font-size: 15px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
    font-family: 'Signika', sans-serif;
}

label[class=hfive] {
    color: white;
    font-size: 14px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
    font-family: 'Signika', sans-serif;
}

label[class=hfour] {
    font-size: 14px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
    font-family: 'Signika', sans-serif;
}

label[class=namess] {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 5px;
    overflow: visible;
    padding: 5px;
    text-align: center;
    color: gray;
    font-family: 'Signika', sans-serif;
}



h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

h2{
    color:aliceblue;
}

h4 {
    font-size: 14px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}

h5 {
    color:white;
    font-size: 14px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}

h6 {
    color: white;
    font-size: 15px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
    width: 100px;
}

li a{
    display:block;
    text-align:center;
    padding:14px 16px;
    text-decoration: none;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
.name{
    float:left;
    margin-top: 0 !important;
}

name2 {
    float: left;
    margin-top: -20px;
}

.bg-modal {
    width: 100%;
    height: 100%;
    /*background-color: darkslateblue;*/
    background-color: rgb(18, 15, 51);
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    overflow: auto;
    display: none;
    font-family: 'Signika', sans-serif;
    /*padding-left: 10px;
    padding-right: 10px;*/
}


.bg-modal-i {
    width: 100%;
    height: 100%;
    /*background-color: darkslateblue;*/
    background-color: rgb(18, 15, 51);
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    overflow: auto;
    display: none;
    font-family: 'Signika', sans-serif;
}

.modal-cont {
    width: 450px;
    height: auto;
    /*background-color: darkslateblue;*/
    background-color: rgb(18, 15, 51);
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: center;
    margin-bottom: auto;
    margin-top: auto;
    font-family: 'Signika', sans-serif;
}

div[class=close]{
    color:white;
}

.bg-modal-reg {
    width: 100%;
    height: 100%;
    /*background-color: darkslateblue;*/
    background-color: rgb(18, 15, 51);
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    overflow: auto;
    display: none;
}

.bg-modal-r {
    width: 100%;
    height: 100%;
    /*background-color: darkslateblue;*/
    background-color: rgb(18, 15, 51);
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    overflow: auto;
    display: none;
}

.modal-header {
    border: none;
}


.grid-cont {
    width: 100%;
    height: 100%;
    background-color: darkslateblue;
}

.grid-conta {
    display: grid;
    grid-gap: 10px;
    background-color: rgb(18, 15, 51);
    /*opacity: 0.9;*/
    padding: 15px;
    height: auto;
}

.grid-container-invite {
    display: grid;
    grid-gap: 10px;
    background-color: #36498f;
    opacity: 0.9;
    padding: 15px;
    height: auto;
}


/*STYLE FOR MAINPAGE*/

.vertical-menu {
    width: 500px;
}

    .vertical-menu a {
        background-color: transparent;
        color: white;
        display: block;
        padding: 12px;
        text-decoration: none;
    }

        .vertical-menu a:hover {
            background-color: #ccc;
        }

        .vertical-menu a.active {
            color: lightblue;
        }

.search {
    /*border: 2px solid #3b1fa0;*/
    /*border: 2px solid #7f4caf;*/
    /*border: 2px solid rgb(18, 15, 51);*/
    border: 2px solid #36498f;
    overflow: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

    .search input[type="text"] {
        border: 0px;
        width: 67%;
        padding: 10px 10px;
    }

        .search input[type="text"]:focus {
            outline: 0;
        }

    .search a[id=loadSModal] {
        border: 0px;
        background: none;
        /*background-color: #4932c9;*/
        /*background-color: rgb(12, 8, 68);*/
        background-color: #36498f;
        opacity: 0.7;
        color: #fff;
        float: right;
        padding: 10px;
        border-radius-top-right: 5px;
        -moz-border-radius-top-right: 5px;
        -webkit-border-radius-top-right: 5px;
        border-radius-bottom-right: 5px;
        -moz-border-radius-bottom-right: 5px;
        -webkit-border-radius-bottom-right: 5px;
        cursor: pointer;
        border-radius: 0px;
    }

    .search a[id=loadSGMModal] {
        border: 0px;
        background: none;
        /*background-color: #4932c9;*/
        /*background-color: rgb(12, 8, 68);*/
        background-color: #36498f;
        opacity: 0.7;
        color: #fff;
        float: right;
        padding: 10px;
        border-radius-top-right: 5px;
        -moz-border-radius-top-right: 5px;
        -webkit-border-radius-top-right: 5px;
        border-radius-bottom-right: 5px;
        -moz-border-radius-bottom-right: 5px;
        -webkit-border-radius-bottom-right: 5px;
        cursor: pointer;
        border-radius: 0px;
    }

    .search p[class=float-right] {
        margin-bottom: 0;
    }


/* ===========================
        ====== Medua Query for Search Box ======
        =========================== */

@media only screen and (min-width : 150px) and (max-width : 780px) {

{
}

.search {
    width: 95%;
    margin: 0 auto;
}

}



.grid-container {
    display: grid;
    grid-gap: 10px;
    background-color: #36498f;
    opacity: 0.9;
    padding: 15px;
    height: auto;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.item1 {
    grid-column: 1;
    grid-row: 1;
}

.item2 {
    grid-column: 2 / span 3;
    grid-row: 1;
}


select[id=gnameSelect]{
    overflow:auto;
}